.presentation {
  background-image: linear-gradient(#24b13b, rgb(7, 43, 10));
  height: 100vh;
}

.svgBackground {
  background-image: url("../../assets/imgs/Element.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 50px;
}

.logo {
  width: 100%;
  margin: 0 50px;
}

.presentationWrapper {
  margin: 0 50px;
}

.presentationTitle {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 80px;
}

.presentationParagraph {
  color: white;
  font-size: 25px;
}

.buttonsDiv {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

button {
  background-color: rgb(0, 171, 114);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 550;
  font-style: oblique;
  padding: 20px 25px;
  color: rgb(255, 255, 255);
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  border: 3px solid;
  border-color: rgb(0, 114, 69);
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: rgba(0, 255, 170, 0.775);
  border: 3px solid;
  border-color: white;
  font-weight: 800;
}

button:active {
  transform: translateY(2px);
}

.show {
  width: 100vh;
  height: 100vh;
  opacity: 1;
  background-color: black;
}
.active {
  width: 100vh;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

.presentation:active {
  background-color: black;
}

.login-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
