.buttonClass {
  display: flex;
}

button {
  background-color: rgb(0, 171, 114);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 550;
  font-style: oblique;
  padding: 20px 25px;
  color: rgb(255, 255, 255);
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  border: 3px solid;
  border-color: rgb(0, 114, 69);
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: rgba(0, 255, 170, 0.775);
  border: 3px solid;
  border-color: white;
  font-weight: 800;
}

button:active {
  transform: translateY(2px);
}

.quick-scan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.img-quick img {
  height: 300px;
  width: 400px;
}

.group-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
  z-index: 3;
  padding-top: 0%;
}

h1 {
  font-size: 3.5vmax;
  z-index: 10;
}

p {
  font-size: 1vmax;
  margin-bottom: 10%;
}

.text-div {
  width: 50%;
  padding: 40px;
  margin: 30px;
}

.group {
  position: absolute;
  opacity: 0.4;
  padding-top: 120px;
  z-index: -999;
}

.scanelem {
  position: absolute;
  padding-top: 2%;
  z-index: -999;
}

@media screen and (max-width: 960px) {
  .quick-scan div {
    padding: 0%;
    margin: 0%;
  }


  .img-quick img {
    height: 100%;
    width: 100%;
  }

  .img-quick {
    width: 100%;
    align-items: center;
  }

  .textsResp > h1 {
    font-size: 40px;
    width: 100%;
    padding-left: 20px;
  }

  .textsResp > p {
    font-size: 15px;
    width: 250px;
    padding-left: 25px;
  }

  .buttonClass button {
    margin: 20px;
  }

  .scanelem {
    width: 500px;
  }
}