button {
  background-color: rgb(0, 171, 114);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 550;
  font-style: oblique;
  padding: 20px 25px;
  color: rgb(255, 255, 255);
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  border: 3px solid;
  border-color: rgb(0, 114, 69);
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: rgba(0, 255, 170, 0.775);
  border: 3px solid;
  border-color: white;
  font-weight: 800;
}

button:active {
  transform: translateY(2px);
}

.quick-scan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.group-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
  z-index: 3;
  padding-top: 0%;
}

h1 {
  font-size: 3.5vmax;
  z-index: 10;
}

p {
  font-size: 1vmax;
}

.text-div {
  width: 50%;
  padding: 40px;
  margin: 30px;
}

.group {
  position: absolute;
  opacity: 0.4;
  padding-top: 120px;
  z-index: -999;
}

.scanelem {
  position: absolute;
  padding-top: 7%;
  z-index: -999;
}
